[submodule "findopsolutionsllc/public"]
	path = findopsolutionsllc/public
	url = https://github.com/yu-jiang/findopsolutionsllc.git
[submodule "findopsolutionsllc/themes/hello-friend-ng"]
	path = findopsolutionsllc/themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
